@using WildlifeProject.Model
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@{
    ViewData["Title"] = "Delete";
}

<h1>Index</h1>

<table class="table table-dark" border="1" width="39%">
    @foreach (var item in @ViewBag.ListOfAnimals)
    {
        <div class="card" style="width: 18rem; display: inline-block; margin: 2rem">
            @if (@item.Image != null)
            {
                <img height="150" src="data:image;base64,@System.Convert.ToBase64String(@item.Image)" class="img-thumbnail" alt="Cinque Terre">
            }

            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <h6 class="card-title"></h6>
                <p  class="card-text">@item.ConservationStatus</p>
                <a href="@Url.Action("Delete", "Admin",new {animalId = @item.AnimalId})" class="btn btn-primary bg-danger">Delete</a>
            </div>
        </div>

    }
</table>




